.first-button-card.mat-mdc-unelevated-button:not(:disabled),
.fourth-button-card.mat-mdc-unelevated-button:not(:disabled) {
  background-color: var(--gray-900);
  width: 100%;
  margin-top: 30px;
  border-radius: 0;
}