.first-description-card {
  font-family: Queens, serif;
  color: white;
  font-size: calc(5px + 1.5vw);
  line-height: 1.2;
  white-space: pre-line;
}

.third-description-card {
  font-size: calc(7px + .7vw);
  margin-top: 5px;
  margin-bottom: 0px;
  font-family: Queens, serif;
}