<div class="desktop-container">
  <div class="grid-container">
    <app-desktop-header></app-desktop-header>

    <app-desktop-container class="firstAppDesktopContainer">
      <app-card class="firstAppCard">
        <app-image class="display-none" [src]="''" [imageClass]="'display-none'"></app-image>
        <app-title class="firstAppTitle" [titleClass]="'firstTitleCard'" [text]="'tuberia text'"></app-title>
        <app-description class="firstAppDescription" [descriptionClass]="'firstDescriptionCard'" [text]="'tuberia text'"></app-description>
        <app-button class="firstAppButton" [buttonClass]="'firstButtonCard'" [text]="'tuberia text'"></app-button>
      </app-card>
    </app-desktop-container>

    <app-desktop-container></app-desktop-container>
    <app-desktop-container></app-desktop-container>
    <app-desktop-container></app-desktop-container>
    <app-desktop-container></app-desktop-container>
    <app-desktop-container></app-desktop-container>
    <app-desktop-container></app-desktop-container>
    <app-desktop-container></app-desktop-container>
    <app-desktop-container></app-desktop-container>
    <app-desktop-container></app-desktop-container>
    <app-desktop-container></app-desktop-container>

    <app-desktop-footer></app-desktop-footer>
  </div>
</div>
